* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #4e4e4e;
    --text-color: #464646;
    --background-color: #f4f4f4;
    --card-background: #f5f5f5;
}

body {
    user-select: none;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* navbar  for mobile*/
#mobile-nav {
    display: none;
}

#mobile-nav ul {
    width: 40%;
    gap: 10%;
    justify-content: center;
}

#mobile-nav ul li {
    width: 35%;
}

#mobile-nav .nav-icons {
    width: 20%;
    justify-content: space-evenly;
}

/* nav bar for without mobile */
nav {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px 0 #aeaeae;
    margin-bottom: 5px;
}

.logo {
    color: rgb(110, 86, 86);
    width: auto;
    margin-left: 2%;
    font-weight: bold;
    font-size: 1.7rem;
}

nav ul {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 50%;
    height: 100%;
}

nav ul li {
    font-size: 1rem;
    color: var(--text-color);
    width: 25%;
    height: 100%;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    width: 100%;
    height: 100%;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
}

.nav-icons {
    width: 10%;
    display: flex;
    gap: 5px;
    height: 100%;
    margin: 0 2%;
}

.icon-box {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 33%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box a {
    color: var(--primary-color);
}

#card-counts,
#card-counts-small-divice {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    top: 3px;
    right: 0;
    position: absolute;
}

/* for hero section  */
.hero-section {
    width: 100%;
    height: 450px;
    margin-bottom: 5%;
}

.hero-img-div {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.hero-img-div img {
    height: 100%;
    width: 100%;
}

/* for main row of cards */
#main-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.product-card {
    width: 320px;
    height: 380px;
    margin: 1.8%;
    background-color: var(--card-background);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: hidden;
    height: 60%;
}

.product-card__image img {
    mix-blend-mode: darken;
    height: 100%;
    transition: transform 0.3s ease;
}

.product-card:hover .product-card__image img {
    transform: scale(1.05);
}

.product-card__info {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding: 20px;
}

.product-card__title {
    width: 100%;
    height: 60%;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
    color: var(--text-color);
}

/* .product-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
} */

.product-card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__price {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
}

.product-card__btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card__btn:hover {
    background-color: #282828;
}



/* for card page  */
.card-parent-row {
    box-shadow: 0 0 10px 0 rgb(224, 224, 224);
    margin: 6rem auto;
    padding: 1% 3%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: auto;
    border-radius: 20px;
}

.card-heading {
    margin-bottom: 1.5%;
    color: black;
    display: flex;
    width: 100%;
    height: 40px;
}

.card-dtl,
.card-product-info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.card-product-info {
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 52%;
}

.card-dtl {
    width: 16%;
}

.parent-div-of-every-card {
    width: 100%;
    height: auto;
}

.singal-card-div {
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 1%;
    display: flex;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #e2e2e2;
}

.card-product-img-title {
    gap: 20px;
    display: flex;
    align-items: center;
    width: 52%;
    height: 100%;
}

.product-card-small-img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.product-card-small-img img {
    /* width: 100%; */
    height: 100%;
}

.product-title {
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: bold;
}

.card-every-product-info {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 16%;
    height: 100%;
}

#price-of-every-product-card {
    font-weight: bold;
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/* for quntity of every product in card */

.qtn-main-box-card {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#items-dicrice-btn,
#items-increas-btn {
    cursor: pointer;
    padding: 3px 7px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.591);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.591);
}

#items-count-in-card {
    color: black;
    font-weight: bold;
}

#total-of-every-product {
    margin-left: 18%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(25, 162, 231);
}

#remove-item-btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 2% 4%;
    background-color: rgba(255, 0, 0, 0.432);
    font-size: 1rem;
    color: white;
}

@media (max-width: 480px) {

    /* for nav bar */
    #mobile-nav {
        display: flex;
    }

    #navbar_large_devices {
        display: none;
    }

    /* for product cards  */
    .cont {
        max-width: 100%;
        padding: 0 20px;
    }

    .product-card__image {
        height: 200px;
    }

    .product-card__title {
        font-size: 1.3rem;
    }

    .product-card__description {
        font-size: 0.8rem;
    }

    .product-card__price {
        font-size: 1.1rem;
    }

    .product-card__btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    /*///////// for card page //////// */
    .card-parent-row{
        padding: 1% 1.5%;
        width:97%;
    }
    .card-heading {
        display: none;
    }

    .singal-card-div {
        gap: 2px;
        height: 140px;
    }

    .card-product-img-title {

        width: 48%;
        flex-direction: column;
    }

    .product-card-small-img {
        width: 100%;
        height: 100%;
    }

    .product-title {
        font-size: 0.8rem;
    }

    .card-every-product-info {
        gap: 8px;
        width: 30%;
    }
    .final-price-rempve-btn{
        gap: 5px;
        width: 35%;
    }

    .qnt-in-seperate-card {
        width: 20%;
    }

    .qtn-main-box-card {
        gap: 8px;
        width: 100%;
    }

    #items-dicrice-btn,
    #items-increas-btn {
        padding: 1px 5px;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.591);
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.591);
    }

    .singal-price {
        display: none;
    }

    #total-of-every-product {
        margin-left: 0%;
        font-size: 0.9rem;
    }

    #remove-item-btn {
        margin-left: 0px;
        padding: 2% 6%;
        background-color: rgba(255, 0, 0, 0.432);
        font-size: 1rem;
    }
}